# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Textream/Textream.xcodeproj/project.xcworkspace/xcuserdata/

# Archives & build artifacts
*.xcarchive
*.app
*.dmg
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Misc
*.swp
*~
*.orig
*.log
.factory/
